.goods .bar .scan {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.goods .bar input {
    margin-top: 10px;
    width: 200px;
    height: 20px;
}

.goods .bar .qt {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.goods .bar .search {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.goods .bar .search button {
    margin-top: 20px;
    padding: 10px;
    background-color: #7b2cbf;
    color: white;
    border: none;
    border-radius: 15px;
    width: 100px;
}

.goods .bar .search button:hover {
    background-color: white;
    color: #7b2cbf;
    cursor: pointer;
}

.goods .items {
    width: 100%;
    height: 50%;
}

.goods .items table {
    width: 90%;
    margin: auto;
    height: 90%;
    overflow-y: scroll;
}

.goods .items table th,
td {
    border: .5px solid gray;
    text-align: center;
    font-size: 1.1em;
}

.btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    justify-items: center;
}

.btns button {
    padding: 20px;
    font-size: 1.1em;
    background-color: #7b2cbf;
    color: white;
    border: none;
    border-radius: 15px;
}

.btns button:hover {
    cursor: pointer;
    background-color: white;
    color: #7b2cbf;
}